<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.badminton.court.mapper.CourtInfoMapper">
    <select id="queryArea" resultType="String">
        select DISTINCT area from court_info
    </select>
</mapper>